<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikelalvarez.a4sharedcars">

    <application
        android:allowBackup="true"
        android:name=".app.MyAplication"
        android:icon="@mipmap/icono_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.4SharedCars">
        <activity
            android:name=".activites.EditarUsuario"
            android:exported="false" />
        <activity
            android:name=".activites.AnadirRuta"
            android:exported="false" />
        <activity
            android:name=".activites.OtroUsuario"
            android:exported="false" />
        <activity
            android:name=".activites.DetallesRuta"
            android:exported="false" />
        <activity
            android:name=".activites.PaginaPrincipal"
            android:exported="false" />
        <activity
            android:name=".activites.Registro"
            android:exported="false" />
        <activity
            android:name=".activites.IniciarSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>